*{
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}


.all-page{
    display: grid;
    grid-template-columns: repeat(1, 19rem) repeat(1, 85rem);
    grid-template-rows: repeat(4, 19rem);
}

.navigation-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 19rem;
    height: 64rem;

    background-color: #f7f7f7;
    border-radius: 3rem;
}

.nav-web-brand{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
 
    font-weight: 700;
    font-size: 1.12rem;
}

.nav-web-brand img{
    width: 2.5rem;
    height: 2rem;
}

.nav-web-brand p{
    display: inline;
    margin-left: 0.5rem;
}

.navigation-options{
    display: flex;
    flex-direction: column;
    height: 16.5rem;

    margin-top: -20rem;
    margin-left: 2rem;
}

.nav-option{

    display: flex;
    align-items: center;
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    
    width: 15rem;
    height: 3.5rem;

    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.nav-option a{
    margin-left: 0.5rem;
    color: #626264;
    text-decoration: none;
}


.nav-option:hover, .nav-option:hover a{
    background-color: #503E9D;
    color: #F7FAFC;
    text-decoration: none;
    cursor: pointer;
}


.user-info-nav{

    margin-left: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-nav img{
    display: inline;
    width: 3rem;
    height: 3rem;
}

.user-info-nav .info{
    display: inline;
    padding-left: 0.5rem;
}

.info-name{
    font-size: 0.8rem;
    font-weight: 700;
    color: #182135;
}

.info-email{
    font-size: 0.7rem;
    font-weight: 400;
    color: #626264;
}

.nav-top{
    display: flex;
    align-items: flex-start;
    height: 3rem;
    margin-top: 2rem;
}

.nav-top .location, .nav-top .Pick-up, .nav-top .best-deals{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.nav-top .location p, .nav-top .Pick-up p, .nav-top .best-deals p{
    margin-left: 0.2rem;
    font-weight: 600;
}

.nav-top .location a, .nav-top .Pick-up a, .nav-top .best-deals a{
    margin-left: 0.2rem;
}


.nav-top .search-bar input[type='search']{
    width: 30rem;
    height: 3rem;

    background-color: #F7F7F7;
    border: none;
    border-radius: 0.7rem;

    margin-left: 10rem;

    background-image: url('icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 0.87rem 1rem;

    margin-top: -0.4rem;
    position: absolute;
    padding: 0.75rem 1.25rem 0.75rem 2.5rem;
}

.nav-top .buttons{
    margin-top: -0.4rem;
    margin-left: 42rem;
}


.featured-restaurant{
    display: grid;
    
    grid-row-start: 2;
    grid-column-start: 2;

    grid-template-rows: repeat(1, 1rem) (2, 18rem);
    grid-template-columns: repeat(3, 28rem);

    width: 80rem;
    margin-left: 2rem;
}

.featured-restaurant .featured-restuarant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;
}
.featured-restaurant .featured-restuarant-header h3{
    font-weight: 700;
    font-size: 1.5rem;
}

.featured-restaurant .featured-restuarant-header #featured-restuarant-header-see-all{
    display: inline;
}

.restaurant-snapshot{
    width: 21rem;
    height: 6rem;

    margin: 1.5rem;

    display: grid;
    grid-template-columns: repeat(1, 6rem) repeat(1, 15rem);
    grid-template-rows: repeat(3, 2rem);

    align-items: center;
}

.restaurant-snapshot .rest-img{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 6rem;
    height: 6rem;
    align-self: flex-start;
    justify-self: center;
    background-color: #F7F7F7;
    border-radius: 0.7rem;
}


.restaurant-snapshot .rest-name{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 0.5rem;
}

.restaurant-snapshot .rest-name h5{
    font-size: 1rem;
    font-weight: 700;
}

.restaurant-snapshot .rest-info, .restaurant-snapshot .rest-status{
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}


.restaurant-snapshot .rest-info p, .restaurant-snapshot .rest-status p{
    font-size: 0.75rem;
    color: #626264;
}

.restaurant-snapshot .rest-status{
    grid-column-start: 2;
    grid-row-start: 3;
}