*{
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}


.all-forget-password{
    display: grid;
    width: 90rem;
    height: 64rem;

    grid-template-columns: repeat(1, 36rem) repeat(1, 54rem);
}

.forget-image{
    background-image: url('images/signin-image.svg');
    grid-column: 1;
}

.forget-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forget-password-form .form-welcoming{
    margin-left: -15rem;
    margin-bottom: 2rem;
}

.forget-password-form .form-welcoming h3{
    font-size: 2rem;
    font-weight: 700;
}

.forget-password-form .form-welcoming h5{
    font-size: 1.25rem;
    font-weight: 400;
    color: #626264;
    line-height: 0.1rem;
}