*{
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}


.all-forget-password{
    display: grid;
    width: 90rem;
    height: 64rem;

    grid-template-columns: repeat(1, 36rem) repeat(1, 54rem);
    grid-template-rows: repeat(3, 21.3rem);
}

.forget-image{
    background-image: url('images/signin-image.svg');
    grid-column: 1;
    grid-row: 1/4;
}

.forget-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-column: 2;
    grid-row: 2;
}

.forget-password-form .form-welcoming{
    margin-left: -15rem;
    margin-bottom: 2rem;
}

.forget-password-form .form-welcoming h3{
    font-size: 2rem;
    font-weight: 700;
}

.forget-password-form .form-welcoming h5{
    font-size: 1.25rem;
    font-weight: 400;
    color: #626264;
    line-height: 0.1rem;
}

.forget-password-form .forget-inputs{
    display: flex;
    flex-direction: column;
}


.forget-password-form .forget-inputs .input-box{
    display: grid;
    grid-template-columns: repeat(1, 4rem) repeat(1, 30.75rem);
    grid-template-rows: repeat(1, 1.5rem) repeat(1, 3rem);
}

.forget-password-form .forget-inputs .input-box img{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 0.5rem;
}


.forget-password-form .forget-inputs .input-box label{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-left: 3rem;
}

.forget-password-form .forget-inputs .input-box input{
    grid-column: 2/3;
    grid-row: 2/3;
    border: 0;
    border-bottom: #A3A3A429 solid 0.125rem;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
}

#email-input:focus, #password-input:focus{
    outline: 0;
    border-bottom: #000 solid 0.125rem;;
}

.signin-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#continue-button{
    width: 36rem;
    height: 4rem;

    background-color: #503E9D;
    color: #F7FAFC;

    font-size: 1.25rem;
    font-weight: 700;

    border: 0;
    border-radius: 0.5rem;

    margin-top: 2rem;
}

#continue-button:hover{
    cursor: pointer;
}

.resend-form{
    display: none;
    width: 25rem;
    height: 18.5rem;

    border-radius: 1rem;

    background-color: #fff;
    text-align: center;
    
    grid-column: 2;
    grid-row: 2;

    margin-left: 15rem;
}

.resend-form img{
    margin-top: 1rem;
}

.resend-form p{
    font-size: 0.875rem;
    color: #626264;
}

.resend-form #user-email{
    font-weight: 700;
    color: #182135;
}


.resend-form .resenf-form-buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.resend-form .resenf-form-buttons input[type="submit"]{
    width: 10.25rem;
    height: 4rem;
    border: 0;
    border-radius: 1rem;
}

.resend-form .resenf-form-buttons #got-it-btn{
    background-color: #503E9D;
    color: #F7FAFC;
    font-size: 1.25rem;
    font-weight: 700;
}

.resend-form .resenf-form-buttons #send-again-btn{
    background-color: #F7F7F7;
    color: #182135;
    font-size: 1.25rem;
    font-weight: 700;
}

.resend-form .resenf-form-buttons #got-it-btn:hover,
.resend-form .resenf-form-buttons #send-again-btn:hover{
    cursor: pointer;
}